<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">

	<title>r4-sign-up</title>
	<meta name="description" content="r4-title">
	<link rel="stylesheet" href="../../styles/r4-sign-up.css" />
	<script type="module" src="../../index.js"></script>
	<!--
	<script type="module">
		import R4SignUp from '../../src/components/r4-sign-up.js'
		customElements.define('r4-sign-up', R4SignUp)
	</script>
-->
</head>

<body>
	<r4-sign-up></r4-sign-up>
</body>

</html>
