r4-page-channel {
	display: flex;
	flex-direction: column;
}
r4-page-channel r4-channel-name {
	font-size: var(--size-font-h1);
	font-weight: bold;
}
r4-channel-url a {
	display: inline-flex;
	word-break: break-all;
}
r4-page-channel r4-channel-coordinates a {
	font-size: var(--size-font-h3);
	text-decoration: none;
}
