r4-app {
	/* Enable container queries for this element */
	display: inline-block;
	container-type: inline-size;
}

/* r4-app r4-router { */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	flex-grow: 1; */
/* } */

/*

	for no-wrap on the r4-menu[horizontal]  */
r4-app menu {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	margin: 0;
	padding: 0;

	/* allow an overflow horizontal with scroll bar hidden */
	overflow-x: scroll;
	scrollbar-width: none;
}

/* give some space to menu li? */
r4-app menu li {
	margin: calc(var(--size) / 3);
}

r4-app img {
	display: block;
	max-width: 100%;
}
