/*
	The application's required styles
*/
r4-app {
	/* Enable container queries for this element */
	display: inline-block;
	container-type: inline-size;
}

/* all "menu" are by default horizontal, and scrollable */
r4-app menu {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;

	/* allow an overflow horizontal with scroll bar hidden */
	overflow-x: scroll;
	scrollbar-width: none;
}

/* give some space to menu li? */
r4-app menu li {
	margin: calc(var(--size) / 3);
}

/* all images in the app should now have some default responsiveness */
r4-app img {
	display: block;
	max-width: 100%;
}
