r4-channel {
	display: block;
}

r4-channel-card {
	display: flex;
	flex-direction: column;
	background-color: var(--color-card-background);
	border: 1px solid var(--color-border);
}
r4-channel-card > div {
	padding: calc(var(--size) / 2);
}
r4-channel-card h1,
r4-channel-card figure {
	margin: 0;
}
r4-channel-card r4-slug {}
r4-channel-card r4-description {}
r4-description {
	display: block;
}
r4-channel-card r4-button-play {}
