@keyframes blink {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
	}
}

r4-components a::after {
	margin-left: 1rem;
	padding-left: 0.5rem;
}
r4-components a[href^="./r4-sign"]::after,
r4-components a[href^="./r4-auth"]::after{
	content: '→ auth flow';
	color: lightgray;
	border-left: 1px dotted red;
}
r4-components a[href="./r4-actions/"]::after {
	content: '← start here? (Shift + TAB)';
	color: green;

	animation-name: blink;
	animation-name: blink;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}
r4-components a[href="./r4-layout/"]::after {
	content: '← how the app looks';
	color: hotpink;
}
r4-components a[href="./r4-list-channels/"]::after {
	content: '← all channels';
	color: black;
}
r4-components a[href="./r4-user-channels-select/"]::after {
	content: '← my channels';
	color: purple;
}
r4-components a[href="./r4-user/"]::after {
	content: '← my info';
	color: purple;
}
