r4-dialog {
}

r4-dialog::part(dialog) {
	--bg: var(--color-background);
	background-color: var(--color-background);
	color: var(--color-text);
}

r4-dialog::part(dialog)::backdrop {
	background-color: white;
	opacity: 0.9;
}
@media (prefers-color-scheme: dark) {
	r4-dialog::part(dialog)::backdrop {
		background-color: darkslategray;
	}
}
@media (prefers-color-scheme: light) {
	r4-dialog::part(dialog)::backdrop {
		background-color: lightslategray;
	}
}

/* the part="form" in the shadown dom */
r4-dialog::part(form) {
	display: flex;
	padding-bottom: var(--size);
	justify-content: flex-end;
}

/* no custom styles */
r4-dialog {
}
r4-dialog[visible='true'] {
}
