/* <r4-form/> is extended as a web components;
 but always create a <form/> element and <fieldset/>*/
form {
	/* padding: calc(var(--size) / 4); */
}
fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	margin: 0;
	padding: 0;
	/* padding: 0 0 calc(var(--size) / 2); */
}
fieldset {
	margin-bottom: calc(var(--size) / 2);
}
fieldset:has(legend) {}
fieldset legend {
	display: block;
	font-weight: bold;
	padding-top: calc(var(--size) / 2);
	padding-bottom: calc(var(--size) / 2);
}

fieldset[hidden] {
	display: none;
}
fieldset[disabled] {}
fieldset[disabled] button[type="submit"] {
	opacity: 0.5;
	cursor: not-allowed;
}
fieldset[disabled] button[loading] {
	cursor: wait;
}

fieldset label[for] {
	cursor: pointer;
}
