/* r4-layout */
r4-layout {
	display: flex;
	flex-direction: column;
}

/* can make the layout "panel" & its "main" part the full viewport height,
	 so on page change, all interface does not jump */
r4-layout::part(panel),
r4-layout::part(main) {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

r4-router,
r4-page-map {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* basic styles for details and summary of the playback layout part */
r4-layout::part(playback-details) {
}

r4-layout::part(playback-summary) {
	background-color: var(--c-bg);
	cursor: pointer;
}

/* hide player slot content if not playing, and in 'close' state  */
r4-layout:not([is-playing]) slot[name='player']::slotted(*),
r4-layout[ui-state='close'] [slot='player']::slotted(*) {
	display: none;
}

/* make the player summary not display its icon */
r4-layout::part(playback-summary) {
	display: flex;
	justify-content: flex-end;
}

/* hide the player summary when fullscreen */
r4-layout[ui-state='fullscreen']::part(playback-summary) {
	display: none;
}
/* and make the player full height */
r4-layout[ui-state='fullscreen'] radio4000-player {
	height: 100vh;
}

/* hide the bullets of the playback menu (should all menu?), make it inline by default */
r4-layout::part(playback-menu) {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

/* by default, make the playback menu inline (mobile first) */
r4-layout::part(playback-menu) {
}

/*
	ui-state = minimize
*/

/* keep the player visible, but small */
r4-layout[ui-state='minimize'] radio4000-player {
	min-height: auto;
	max-height: var(--s-youtube); /* youtube guidelines for video, @to-keep */
}
/* overwrite some of radio4000-player library styles */
r4-layout[ui-state='minimize'] radio4000-player .Layout-header,
r4-layout[ui-state='minimize'] radio4000-player .Layout-main {
	display: none;
}

/*
	ui-state = minimal & dock
	- make the playback sticky at top of viewport,
	so "r4-app" router does not scroll to the top on page change
	- also keep the "panel" over the "playback"
*/

/* make the "playback" sticky at the top of viewport */
r4-layout[ui-state='minimize']::part(playback),
r4-layout[ui-state='dock']::part(playback) {
	position: sticky;
	top: 0;
}

/* keep panel over the playback */
r4-layout[ui-state='minimize']::part(panel),
r4-layout[ui-state='dock']::part(panel) {
	z-index: 1;
	background-color: var(--c-bg);
}
