r4-map {
	position: relative;
	transition: opacity 333ms ease-in-out;
}
r4-map > main {
	width: 100%;
	height: calc(var(--size) * 20);
}
r4-map:not([is-ready]) {
	opacity: 0;
}
r4-map[is-ready] {
	opacity: 1;
}

r4-map r4-channel {
	position: sticky;
	bottom: 0;
	left: 0;
	background-color: var(--color-background);
	padding: calc(var(--size) / 3);
	max-height: 20vh;
	overflow: scroll;
}
r4-map r4-channel h1 {
	margin-top: 0;
}

r4-map-position r4-map > main {
	height: calc(var(--size) * 10);
}
r4-map-position fieldset[type="buttons"] {
	flex-direction: row;
}
