r4-menu {}
r4-menu[direction="row"] {}
r4-menu[direction="row"] menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
r4-menu[direction="row"] menu li + li{
	margin-left: 1.5rem;
}

r4-menu h1,
r4-menu h2,
r4-menu h3,
r4-menu h4 {
	margin-bottom: 0;
}
