r4-menu {}
r4-menu menu {
	list-style: none;
	padding: 0;
}
r4-menu[direction="row"] {}
r4-menu[direction="row"] menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

r4-menu[direction="row"] menu {}

r4-menu a {
	/*padding: calc(var(--size) / 2);*/
}

r4-menu h1,
r4-menu h2,
r4-menu h3,
r4-menu h4 {
	margin-bottom: 0;
}
