/**
 * A theme resembling classic R4
 */

/* Build on top of default theme */
@import url('/themes/default.css');

/* Overwrite things from default theme */
r4-app menu a {
	filter: none;
}

/* Shared between light and dark color schemes */
r4-app {
	--font: Maison Neue, system-ui, sans-serif;
	--s-radius: 3px;
	--s-font: 15px;
	--s-line-height: 1.3125;
	--c-light: hsl(0deg 0% 98%);
	--c-dark: hsl(0deg 0% 10%);
	--c-purple: #5d1ae6;
	--c-light--accent: var(--c-purple);
	--c-dark--accent: #9c8fff;
	--c-link: var(--c-purple);
	transition: background-color 0.3s;
}

r4-app[color-scheme='light'] {
	--c-bg: hsl(40, 6%, 90%);
}

r4-app[color-scheme='dark'] {}

r4-layout {
	padding: var(--s);
}

r4-app menu li {
	padding: var(--s);
}

r4-app h1,
r4-app h2 {
	line-height: 1.1;
}

r4-app h1 {
	font-size: 2rem;
}

r4-app h2 {
	font-size: 1.5rem;
}

r4-app button {
	display: inline-block;
	font-size: 0.86667rem;
	font-weight: bold;
	border: 1px solid rgba(115, 115, 115, 0.4);
	border-radius: var(--s-radius);
	box-shadow: 0 3px 0 -1px rgba(204, 204, 204, 0.9);
	box-sizing: border-box;
	cursor: pointer;
	line-height: 1;
	min-height: 2.1em;
	padding: 0.6em;
	background-color: hsl(0, 0%, 98%);
	color: var(--c-fg);
	text-align: center;
	text-decoration: none;
}

r4-app[color-scheme='dark'] button {
	background-color: hsl(0deg 0% 23.14%);
	box-shadow: none;
}

r4-app button[disabled] {
	opacity: 0.5;
}

r4-channel-card {
	background-color: var(--c-bg);
	border: 1px solid rgba(115, 115, 115, 0.4);
	padding: var(--s);
}

r4-list-item r4-track {
	flex: 1;
	border-bottom: 1px solid rgba(0 0 0 / 20%);
}

/* Maison Neue regular/italic + bold/italic from Cloudinary */
@font-face {
	font-family: 'Maison Neue';
	src: url('https://res.cloudinary.com/radio4000/raw/upload/v1492541388/maisonneueweb-book_ee98sm.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Maison Neue';
	src: url('https://res.cloudinary.com/radio4000/raw/upload/v1492541388/maisonneueweb-bookitalic_szjrvl.woff2')
		format('woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Maison Neue';
	src: url('https://res.cloudinary.com/radio4000/raw/upload/v1492541388/maisonneueweb-bold_rvmbzr.woff2')
		format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Maison Neue';
	src: url('https://res.cloudinary.com/radio4000/raw/upload/v1492541388/maisonneueweb-bolditalic_awvcg5.woff2')
		format('woff2');
	font-weight: bold;
	font-style: italic;
}

