/* A theme resembling classic R4 */
/* Maison Neue regular/italic + bold/italic from Cloudinary */
@font-face {
	font-family: 'Maison Neue';
	src: url('https://res.cloudinary.com/radio4000/raw/upload/v1492541388/maisonneueweb-book_ee98sm.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Maison Neue';
	src: url('https://res.cloudinary.com/radio4000/raw/upload/v1492541388/maisonneueweb-bookitalic_szjrvl.woff2')
		format('woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Maison Neue';
	src: url('https://res.cloudinary.com/radio4000/raw/upload/v1492541388/maisonneueweb-bold_rvmbzr.woff2')
		format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Maison Neue';
	src: url('https://res.cloudinary.com/radio4000/raw/upload/v1492541388/maisonneueweb-bolditalic_awvcg5.woff2')
		format('woff2');
	font-weight: bold;
	font-style: italic;
}

/* the theme */
r4-app {
	--s-font: 18px;
	--s: 1rem;
	--s-radius: 4px;
	--font: Maison Neue, system-ui, sans-serif;
	--s-line-height: 1.3125;
	--c-light: hsl(0deg 0% 98%);
	--c-dark: hsl(0deg 0% 8%);
	--c-purple: #5d1ae6;
	--c-purple-light: #999fff;
	--c-light--accent: var(--c-purple);
	--c-dark--accent: #9c8fff;
	--c-link: var(--c-purple);
	--c-border: rgba(115, 115, 115, 0.25);

	/* new vars */
	--c-bg-button: hsl(0, 0%, 98%);
}

r4-app[color-scheme='os'] {
}
r4-app[color-scheme='light'] {
	color-scheme: light;
	--c-bg: hsl(40, 6%, 90%);
	--c-bg2: color-mix(in oklch, var(--c-bg) 100%, white 50%);
}

r4-app[color-scheme='dark'] {
	color-scheme: dark;
	--c-fg: var(--c-light);
	--c-bg: var(--c-dark);
	--c-bg2: var(--c-border);
}

r4-layout header[slot='menu'] {
	position: sticky;
	top: 0;
	background-color: var(--c-bg);
}

r4-app a {
	background-color: var(--c-light);
	padding: calc(var(--s) / 6) calc(var(--s) / 4);

	[color-scheme='dark'] & {
		background: hsl(0deg 2.6% 12.75%);
		color: var(--c-dark--accent);
	}
}
r4-app li {
	margin-bottom: calc(var(--s) / 3);
}

r4-app button {
	display: inline-block;
	font-size: 0.86667rem;
	font-weight: bold;
	border: 1px solid var(--c-border);
	border-radius: var(--s-radius);
	box-shadow: 0 3px 0 -1px rgba(204, 204, 204, 0.9);
	box-sizing: border-box;
	cursor: pointer;
	line-height: 1;
	min-height: 2.1em;
	padding: 0.6em;
	background-color: var(--c-bg-button);
	color: var(--c-fg);
	text-align: center;
	text-decoration: none;
}

r4-app[color-scheme='dark'] button {
	background-color: hsl(0deg 0% 23.14%);
	box-shadow: none;
}

r4-layout::part(playback) {
	position: sticky;
	top: 0;
}
r4-layout::part(playback-summary) {
	background-color: var(--c-bg2);
}

/* pages */
r4-page-header {
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* align-items: center; */
}
r4-page-header r4-channel-card {
	margin: calc(var(--s) / 2);
	flex-grow: 1;
	flex-shrink: 0;
}
r4-page-header menu {
	/* flex-basis: 100%; */
}
r4-page-header h1 {
	margin: 0;
	padding: calc(var(--s) / 2);
}
/* Differentiate channels and track lists by using a grid */
r4-page-explore r4-page-main > r4-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	gap: var(--s);
	align-items: stretch;
}

/* Nav menus */
r4-app-menu menu {
	padding-left: calc(var(--s) / 2);
}
r4-app-menu a {
}
r4-page-channel r4-page-header menu a {
	background: none;
}
r4-page-channel r4-page-header menu li {
	margin: 0;
}
r4-app-menu a[aria-current] {
	color: var(--c-fg);
	background-color: transparent;
}
r4-app menu {
}
r4-app menu li {
	margin: calc(var(--s) / 4);
}
r4-app menu a {
	font-size: 16px;
	padding: calc(var(--s) / 2) calc(var(--s) / 2);
	text-decoration: none;
	/* border-radius: var(--s-radius); */
}

/* Channel cards */
r4-channel-card {
	background-color: var(--c-bg2);
}
r4-channel-card r4-channel-slug {
	display: none;
}
r4-channel-card r4-button-play {
	margin-top: var(--s);
	margin-left: var(--s);
}
r4-channel-card-body {
	padding: var(--s);
}

r4-list:has(r4-track) {
	border: 1px solid var(--c-border);
	border-radius: var(--s-radius);

	r4-track-body {
		font-size: 15px;
	}
}
r4-list-item:has(r4-track):not(:last-child) r4-track {
	border-bottom: 1px solid var(--c-border);
}

/* track */
r4-track {
	background-color: var(--c-bg2);
	padding: calc(var(--s) / 2);
}
r4-track a {
	background-color: transparent;
	text-decoration: none;
}
r4-track-title a,
[color-scheme='dark'] r4-track-title a {
	color: var(--c-fg);
}
r4-track-description a {
	padding-left: calc(var(--s) / 4);
	padding-right: calc(var(--s) / 4);
	margin: 0.1rem;
}

/* search query */
r4-query {
}
r4-query menu,
r4-query details {
	padding: calc(var(--s) / 3);
}
