/* Extends the default theme with, well, more defaults */
@import url('/themes/default.css');

r4-app menu a {
	text-decoration: underline;
	/* Remove filter from default theme */
	filter: none;
}

r4-app summary {
	/* Don't want to select <summaries> text when toggling */
	user-select: none;
}

/* Control the header sizes */
r4-app h1 {
	font-size: 2rem;
	color: var(--c-headlines);
}
r4-app h2 {
	font-size: 1.5rem;
}
r4-app h3 {
	font-size: 1rem;
}

r4-app section section {
	/* Nested sections have less space */
	margin-bottom: var(--s);
}

r4-channel-card {
	flex: 1;
	background-color: var(--c-bg);
	border: 1px solid var(--c-border);
	border-radius: var(--s-radius);
	padding: var(--s);
}

/* Differentiate channels and track lists by using a grid */
r4-page-explore r4-page-main > r4-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	gap: var(--s);
	align-items: stretch;
}

/* Track lists border */
r4-list-item + r4-list-item {
	margin: 0;
}
r4-list-item r4-track {
	border-bottom: 1px solid rgba(0 0 0 / 20%);
	flex: 1;
}
