/* vars */
r4-app {
	/* colors */
	--c-light: cornsilk;
	--c-dark: black;
	--c-dim: dimgray;
	--c-intense: chartreuse;
	--c-moderate: rebeccapurple;
}

/* color schemes */
r4-app[color-scheme='os'] {
	--c-bg: inherit;
	--c-fg: inherit;
	--c-link: inherit;
	--c-menu-bg: inherit;
	--c-form-bg: inherit;
}
r4-app[color-scheme='dark'] {
	color-scheme: dark;
	--c-bg: var(--c-dark);
	--c-fg: var(--c-light);
	--c-link: var(--c-intense);
	--c-menu-bg: var(--c-dim);
	--c-form-bg: var(--c-dim);
}
r4-app[color-scheme='light'] {
	color-scheme: light;
	--c-bg: var(--c-light);
	--c-fg: var(--c-dark);
	--c-link: var(--c-moderate);
	--c-menu-bg: var(--c-dim);
	--c-form-bg: var(--c-dim);
}

/* app */
r4-app a {
	text-decoration: none;
	color: var(--c-link);
}
r4-app h1,
r4-app h2,
r4-app h3 {
	font-size: 1.3rem;
	margin-top: 0;
}

r4-app menu li {
	padding: calc(var(--s) / 2);
}
r4-app menu a {
	background-color: var(--c-menu-bg);
	padding: calc(var(--s) / 2);
}
r4-app a[aria-current='page'] {
	background-color: transparent;
}

r4-app ul li + li,
r4-app ol li + li {
	margin-top: var(--s);
}

r4-app details[open],
r4-app summary {
	padding: calc(var(--s));
}

r4-app form {
	max-width: calc(var(--s) * 100);
	padding: var(--s);
	background-color: var(--c-form-bg);
	border-radius: calc(var(--s) / 3);
}
r4-app summary,
r4-app form legend,
r4-app form label {
	font-style: italic;
}
r4-app fieldset {
	display: flex;
}
r4-app input,
r4-app textarea {
	flex-grow: 1;
}
r4-app textarea {
	min-height: calc(var(--s) * 5);
	resize: vertical;
}

/* pages */
r4-page-add r4-page-header {
	order: 1;
}
r4-page-add r4-page-header menu {
	display: none;
}

/* components */
r4-page-header:not(:empty) {
	padding: var(--s);
}
r4-page-header h1 {
	margin-bottom: 0;
}
r4-list-item + r4-list-item {
	margin-top: var(--s);
}
r4-track-title::before,
r4-track-description::before,
r4-track-discogs-url::before,
r4-track-mentions menu::before,
r4-track-tags menu::before,
r4-channel-slug::before,
r4-channel-description::before,
r4-channel-url::before {
	content: '—';
	display: inline;
	float: left;
	padding-left: var(--s);
	padding-right: var(--s);
	color: var(--c-fg);
}
r4-track-mentions a::before,
r4-track-tags a::before {
	color: var(--c-bg);
}
r4-query {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: calc(var(--s) / 2);
}
r4-button-play {
	margin: calc(var(--s) / 2);
}

r4-app r4-layout::part(controls-button) {
	padding: var(--s);
	margin-left: calc(var(--s) / 2);
}

/* Hack because slots and flex full height wasn't working*/
@media (min-width: 70rem) {
	r4-layout [slot='player'] {
		height: calc(100vh - calc(var(--s) * 5.1));
	}
}
