/* Menu */
r4-layout [slot="header"] menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	/* gap: calc(var(--size) / 2); */
}

r4-layout [slot="header"] menu a,
r4-layout [slot="header"] menu r4-user-channels-select {
	display: flex;
	padding: calc(var(--size) / 2);
}

@container (min-width: 700px) {
	r4-layout [slot="header"] menu {
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		padding-top: calc(var(--size) / 4);
		padding-bottom: calc(var(--size) / 4);
		box-sizing: border-box;
	}
	r4-layout [slot="header"] menu a {
		padding: calc(var(--size) / 4) calc(var(--size) / 2);
	}
	r4-layout [slot="header"] menu r4-user-channels-select {
		margin-left: -3px;
	}
	r4-layout [slot="header"] menu li:last-child {
		margin: auto calc(var(--size) / 2) calc(var(--size) / 4) calc(var(--size) / 2);
	}
}

/* Pagination */
[name="pagination"] > button ~ span {
	margin: 0 0.5em;
}
