::part(button),
button,
select {
	cursor: pointer;
}

/* Shared styles between button-like-things and inputs */
::part(button),
button,
select,
input,
textarea {
	font-family: var(--font-family);
	font-size: var(--font-size);
	padding: calc(var(--size) / 4) calc(var(--size) / 2);
	border: 1px solid var(--color-border);
}

/* Inputs */
input,
textarea {
	background-color: var(--color-input-background);
	color: var(--color-input-text);
}

/* Button-like elements */
select,
button {
	border-width: 2px;
	background-color: var(--color-button-background);
	color: var(--color-button-text);
}

/* ::part(button)[disabled], */
select[disabled],
button[disabled] {
	opacity: 0.5;
	/* border-color: transparent; */
	/* color: hsla(0, 0%, 0%, 0.5); */
	cursor: auto;
}
