/* With "form" we mean, all elements that are usually part of the forms childre;
	 - button, select, input, fieldset etc.

	 Also, <r4-form/> is extended as a web components;
	but always create a <form/> element and <fieldset/> children*/

form {
}
fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	margin: 0;
	padding: 0;
}
fieldset {
	margin-bottom: calc(var(--size) / 2);
}
fieldset:has(legend) {
}
fieldset legend {
	display: block;
	font-weight: bold;
	padding-top: calc(var(--size) / 2);
	padding-bottom: calc(var(--size) / 2);
}

fieldset[hidden] {
	display: none;
}
fieldset[disabled] {
}
fieldset[disabled] button[type='submit'] {
	opacity: 0.5;
	cursor: not-allowed;
}
fieldset[disabled] button[loading] {
	cursor: wait;
}

fieldset label[for] {
	cursor: pointer;
}

/* part="button" is used for r4-dialog buttons */
::part(button),
button,
select {
	cursor: pointer;
}

/* Shared styles between button-like-things and inputs */
::part(button),
button,
select,
input,
textarea {
	font-family: var(--font-family);
	font-size: var(--font-size);
	padding: calc(var(--size) / 4) calc(var(--size) / 2);
	border: 1px solid var(--color-border);
}

/* Inputs */
input,
textarea {
	background-color: var(--color-input-background);
	color: var(--color-input-text);
}

/* Button-like elements */
select,
button {
	background-color: var(--color-button-background);
	color: var(--color-button-text);
	border-color: var(--color-text);
}

/* ::part(button)[disabled], */
select[disabled],
button[disabled] {
	opacity: 0.5;
	/* border-color: transparent; */
	/* color: hsla(0, 0%, 0%, 0.5); */
	cursor: auto;
}
