/* Creates a responsive grid layout. */
.Grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: calc(var(--size) / 2);
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: var(--size);
}

/* Adjust the min value as you please and make the media query match */
@media (min-width: 12rem) {
	.Grid {
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	}
}
