/* Wasn't sure where to organize this, so here we are. */

.Grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: calc(var(--size) / 2);
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: var(--size);
}

@media (min-width: 12rem) {
	.Grid {
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	}
}
