/* Wasn't sure where to organize this, so here we are. */

.Grid,
r4-channels ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: calc(var(--size) / 2);
	margin: 0 0 var(--size);
	padding: 0;
	list-style: none;
}

@media (min-width: 12rem) {
	.Grid,
	r4-channels ul {
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	}
}
