r4-auth-status {
}
r4-auth-status:not([auth]),
r4-auth-status:not([auth]) slot {
	display: none;
}
r4-auth-status[auth] {
	padding: 1rem;
	background
}
r4-auth-status[auth="true"] {
	border-color: green;
}
r4-auth-status[auth="false"] {
	border-color: black;
}
