/* Universal Box Sizing with inheritance */
html,
:root {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* the html element root,
	 and the custom-element's root */
:root,
:host {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-family);
	font-size: var(--font-size);
}

/* reset of browser styles */
html,
body {
	display: flex;
	flex-direction: column;;
	flex-grow: 1;
}
html {
	min-height: 100%;
}
body {
	margin: 0;
}
