/* Universal Box Sizing with Inheritance */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* the html element root,
	 and the custom-element's root */
:root,
:host {
	color: var(--color-text);
	font-family: var(--font-family), serif;
	font-size: var(--font-size);
	background-color: var(--color-background);
}

/* reset of browser styles */
body {
	background: var(--color-background);
	margin: var(--size);
}

a {
	color: var(--color-link);
}

h1, h2, h3, h4, h5, h6,
p {
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: calc(var(--size) / 2);
}

/* ::part(name) to target a <dom part="name"/> inside shadow dom */
::part(button),
button,
select {
	cursor: pointer;
}

::part(button),
button,
select,
input,
textarea {
	font-size: var(--font-size);
	font-family: var(--font-family);
	color: var(--color-text);
	background-color: var(--color-background);
	padding: calc(var(--size) / 4) calc(var(--size) / 2);
	border-color: var(--color-text);
}

/* ::part(button)[disabled], */
button[disabled] {
	border-color: transparent;
	color: hsla(0, 0%, 0%, 0.5);
	cursor: auto;
}
