@import url(https://fonts.bunny.net/css?family=epilogue:400,400i,600);

@font-face {
	font-family: 'Abordage';
	src: url('/static/fonts/degheest/Abordage-Regular.woff2');
}
@font-face {
	font-family: 'Director';
	src: url('/static/fonts/degheest/Director-Light.woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'Director';
	src: url('/static/fonts/degheest/Director-Bold.woff2');
	font-weight: 600;
}

r4-app {
	/* Inspired by the dark Jellybeans programming color scheme theme */
	--c-red: hsl(17 46% 50%);
	--c-red2: hsl(17deg 100% 7%);
	--c-green: hsl(98 19% 50%);
	--c-blue: hsl(221 29% 60%);
	--c-blue2: hsl(221 30% 94%);
	--c-yellow: hsl(41 79% 69%);

	--c-gray1: hsl(0 0% 8%);
	--c-gray2: hsl(56 8% 17%);
	--c-gray3: hsl(50 9% 24%);
	--c-gray4: hsl(50 9% 48%);
	--c-gray5: hsl(50 6% 75%);
	--c-gray6: hsl(50 20% 94%);
	--c-gray7: hsl(50 15% 95%);

	--font: system-ui, sans-serif;
	/* --font-titles: Epilogue, Director, Abordage, sans-serif; */

	--s-font: 16px;
	--s: 1.5rem;
	--s-radius: 0;
	--s-line-height: var(--s);
	background-image: linear-gradient(hsla(0, 0%, 60%, 0.1) 0.15%, transparent 5%);
	background-size: 100% var(--s);
}

r4-app[color-scheme='light'] {
	/* for light theme we want more contrast */
	--c-blue: hsl(221 37% 43%);
	--c-red: hsl(17 60% 50%);

	--c-bg: var(--c-gray6);
	--c-fg: var(--c-gray1);
	--c-link: var(--c-blue);
	--c-headlines: var(--c-red);
	--c-border: var(--c-gray5);
}

r4-app[color-scheme='dark'] {
	--c-bg: var(--c-gray1);
	--c-fg: var(--c-gray6);
	--c-link: var(--c-blue);
	--c-headlines: var(--c-red);
	--c-border: var(--c-gray1);
}

r4-app {
	font-family: var(--font);
	line-height: 1.5;
}
r4-app h1,
r4-app h2,
r4-app h3 {
	font-family: var(--font-titles), var(--font);
}

r4-app fieldset {
	display: flex;
	border: 1px solid var(--c-gray4);
	padding: 0;
	gap: 0.5rem;
	border: 0;
}
r4-app fieldset label {
	font-weight: 600;
}

fieldset[hidden] {
	display: none;
}

/* Make filters horizontal */
r4-supabase-filters form ul {
	list-style: none;
	padding: 0 0 0 calc(var(--s) / 2);
}
r4-supabase-filters > form,
r4-supabase-modifiers > form {
	display: flex;
	flex-flow: row wrap;
	gap: 0 0.75rem;
}

/* Clickable things */
a,
button:not(:disabled),
input[type='checkbox'],
select {
	cursor: pointer;
}

/* Buttons and text inputs */
button,
select,
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='url'],
textarea {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	flex-shrink: 0;
	line-height: normal;
	font-size: inherit;
	user-select: none;
	position: relative;
	border: 1px solid var(--c-border);
	border-radius: var(--s-radius);
	min-width: 2rem;
	height: var(--s);
	padding: 0 0.5rem;
	vertical-align: top;
	line-height: 1;
}

r4-app input[type='text'],
r4-app input[type='number'],
r4-app input[type='email'],
r4-app input[type='password'],
r4-app input[type='search'],
r4-app input[type='url'],
r4-app textarea {
	/* background: var(--c-gray4); */
}

r4-app textarea {
	height: calc(var(--s) * 3);
	padding-top: 0.5em;
}

r4-app input[type='number'] {
	min-width: 3rem;
	max-width: 7rem;
}

r4-app button[role="destructive"],
r4-app button[type="submit"] {
	min-width: 10em;
}

r4-app button {
	padding: 0 1rem;
	font-size: 14px;
	/* background: var(--c-gray7); */
}

r4-app button[type='submit'] {
	min-height: calc(var(--s) * 2);
	background-color: var(--c-link);
	color: var(--c-blue2);
}

r4-app button[role='destructive'] {
	background: var(--c-red);
	color: var(--c-red2);
}


r4-app [list] r4-button-play button {
	/* background-color: var(--c-blue); */
}

r4-channel-description,
r4-pagination {
	display: block;
}

/* Layout */
r4-layout {
	padding: 0 1rem 0;
}

r4-app [slot='menu'] {
	margin: var(--s) 0 0;
}

r4-app h1 {
	margin: var(--s) 0 calc(var(--s) / 1);
	font-size: 2rem;
	color: var(--c-headlines);
}

r4-app h2 {
	font-size: 1.5rem;
	margin: var(--s) 0 calc(var(--s) / 2);
}

r4-app h3 {
	font-size: 1rem;
}

r4-avatar img {
	vertical-align: bottom;
	height: 3rem;
}

/* Quick dark-mode for the player */
[color-scheme='dark'] r4-player radio4000-player {
	background: var(--c-bg);
	color: var(--c-fg);
}
[color-scheme='dark'] r4-player radio4000-player .Layout .Header,
[color-scheme='dark'] r4-player radio4000-player .Layout .PlayerControl,
[color-scheme='dark'] r4-player radio4000-player .Layout .PlayerControl .Btn {
	background: transparent;
}
[color-scheme='dark'] r4-player radio4000-player .Layout .TrackItem {
	color: inherit;
}
[color-scheme='dark'] r4-player radio4000-player .Layout .Tracklist-item {
	border: 0;
}

[color-scheme='dark'] r4-player radio4000-player .PlayPause-controller::after,
[color-scheme='dark'] r4-player radio4000-player .PlayPause-controller::before {
	border-color: var(--c-link);
}

r4-channel-card {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
r4-channel-card > a {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

r4-track-description,
r4-description {
	font-size: smaller;
}

r4-app nav {
	margin-bottom: var(--s);
}

r4-page-channel h1 {
	margin-bottom: 0;
}
r4-page-channel menu {
	margin-bottom: var(--s);
}
r4-page-channel r4-avatar img {
	height: calc(var(--s) * 8);
}
r4-page-channel > footer {
	margin-top: var(--s);
}

r4-page-explore > main,
r4-page-channel-tracks > main {
	margin-top: var(--s);
	display: flex;
	flex-flow: column nowrap;
	gap: var(--s);
}

r4-page-explore r4-supabase-query,
r4-page-channel-tracks r4-supabase-query {
	display: block;
}

/* Tags and mentions aka labels */
r4-app a[label] {
	font-size: smaller;
	padding: 0 5px;
	border-radius: 4px;
	text-decoration: none;
}
r4-app a[label] + a[label] {
	margin-left: 2px;
}

r4-app form {
	/* display: flex; */
	/* flex-flow: column nowrap; */
	/* gap: var(--s); */
	max-width: 40rem;
}
r4-app fieldset label {
	flex-basis: 10rem;
	align-self: flex-start;
}
r4-app fieldset input:not([type='checkbox']),
r4-app fieldset textarea {
	flex: 1;
}
r4-app fieldset button[type='submit'] {
	margin-right: auto;
}

ul[list] {
	list-style: none;
	padding: 0;
}

menu {
	display: flex;
	flex-flow: row wrap;
	gap: 0 calc(var(--s) / 2);
	list-style: none;
	/* margin: var(--s) 0; */
}

r4-color-scheme {
	display: inline-flex;
	flex-flow: row wrap;
}
r4-color-scheme button {
	/* equal width */
	flex: 1;
}

