/*
	A minimal default theme, with mostly:
	- required defaults to make the work (though it should without CSS)
*/

/* these imports are to make the player layout & map work */
@import url('components/r4-layout.css');
@import url('components/r4-map.css');

/* these changes are "user personalisation" for color themes */
r4-app {
	/* sizes */
	--s-font: 18px;
	--s: 1.5rem;
	--s-line-height: 1;
	--s-youtube: 15rem;

	/* reference functional variables using the colors */
	--c-fg: inherit;
	--c-bg: inherit;
	--c-link: inherit;

	/* colors */
	--c-light: white;
	--c-dark: black;
	--c-light--accent: green;
	--c-dark--accent: orange;
}

r4-app[color-scheme='dark'] {
	--c-bg: var(--c-dark);
	--c-fg: var(--c-light);
	--c-link: var(--c-dark--accent);
	color-scheme: dark;
}

r4-app[color-scheme='light'] {
	--c-bg: var(--c-light);
	--c-fg: var(--c-dark);
	--c-link: var(--c-light--accent);
	color-scheme: light;
}

/* and the customization using the variables */
r4-app {
	display: flex;
	flex-direction: column;
	background-color: var(--c-bg);
	color: var(--c-fg);
	font-size: var(--s-font);
	font-family: var(--font);
	line-height: var(--s-line-height);
}

/* Defaults */
r4-app,
r4-app * {
	box-sizing: border-box;
}
r4-app * {
	margin: 0;
}
r4-app menu {
	padding: 0;
}
r4-app table {
	width: 100%;
	border-collapse: collapse;
}
r4-app th {
	text-align: left;
}
r4-app a {
	color: var(--c-link);
}
/* Ensure the font is the same */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

/*
	can start targetting "more specific customization"
*/

/* make the panel min height, the viewport, so "route change" don't make the UI jump */
r4-app r4-layout::part(panel) {
	/* min-height: 100vh; */
}

r4-layout [slot='main'] {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* the map full height */
r4-map,
r4-map main,
r4-map .ol-viewport {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* Hide table+select from /explore and tracks pages */
r4-page-explore r4-supabase-select,
r4-page-channel-tracks r4-supabase-select {
	display: none;
}

/* Quick dark-mode for the player */
[color-scheme='dark'] radio4000-player,
r4-app[color-scheme] radio4000-player .Header,
radio4000-player .PlayerControl-group .Btn {
	background: var(--c-bg);
	color: var(--c-fg);
}
[color-scheme='dark'] radio4000-player .Layout .Header,
[color-scheme='dark'] radio4000-player .Layout .PlayerControl,
[color-scheme='dark'] radio4000-player .Layout .PlayerControl .Btn {
	background: transparent;
}
[color-scheme='dark'] radio4000-player .Layout .TrackItem {
	color: inherit;
}
[color-scheme='dark'] radio4000-player .Layout .Tracklist-item {
	border: 0;
}

[color-scheme='dark'] radio4000-player .PlayPause-controller::after,
[color-scheme='dark'] radio4000-player .PlayPause-controller::before {
	border-color: var(--c-link);
}
