@import url(https://fonts.bunny.net/css?family=epilogue:400,400i,600);

@font-face {
	font-family: 'Abordage';
	src: url('/static/fonts/degheest/Abordage-Regular.woff2');
}
@font-face {
	font-family: 'Director';
	src: url('/static/fonts/degheest/Director-Light.woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'Director';
	src: url('/static/fonts/degheest/Director-Bold.woff2');
	font-weight: 600;
}

r4-app {
	/* Inspired by the dark Jellybeans programming color scheme theme */
	/* --c-white: hsl(0 0% 100%); */
	--c-gray1: hsl(50 14% 96%);
	--c-gray2: hsl(50 14% 91%);
	--c-gray3: hsl(50 10% 76%);
	--c-gray4: hsl(50 10% 56%);
	--c-gray5: hsl(30 10% 36%);
	--c-gray6: hsl(30 10% 26%);
	--c-gray7: hsl(30 10% 16%);
	--c-gray8: hsl(30 8% 6%);
	--c-gray9: hsl(30 2% 5%);
	/* --c-black: hsl(0 0% 0%); */

	--c-red1: hsl(17 100% 95%);
	--c-red2: hsl(17 80% 85%);
	--c-red3: hsl(17 70% 75%);
	--c-red4: hsl(17 70% 65%);
	--c-red5: hsl(17 70% 55%);
	--c-red6: hsl(17 70% 45%);
	--c-red7: hsl(17 70% 35%);
	--c-red8: hsl(17 70% 25%);
	--c-red9: hsl(17 70% 15%);
	/* --c-red9: hsl(17 100% 7%); */

	--c-green1: hsl(98 21% 95%);
	--c-green2: hsl(98 21% 85%);
	--c-green3: hsl(98 21% 75%);
	--c-green4: hsl(98 23% 65%);
	--c-green5: hsl(98 25% 55%);
	--c-green6: hsl(98 23% 45%);
	--c-green7: hsl(98 21% 35%);
	--c-green8: hsl(98 21% 25%);
	--c-green9: hsl(98 21% 15%);

	/* --c-blue5: hsl(221 29% 60%); */
	/* --c-blue6: hsl(221 37% 43%); */
	--c-blue1: hsl(221 30% 94%);
	--c-blue2: hsl(221 30% 84%);
	--c-blue3: hsl(221 31% 74%);
	--c-blue4: hsl(221 33% 64%);
	--c-blue5: hsl(221 35% 54%);
	--c-blue6: hsl(221 40% 44%);
	--c-blue7: hsl(221 30% 34%);
	--c-blue8: hsl(221 27% 24%);
	--c-blue9: hsl(221 27% 14%);

	/* --c-yellow: hsl(41 79% 69%); */
	--c-yellow1: hsl(41 79% 95%);
	--c-yellow2: hsl(41 79% 85%);
	--c-yellow3: hsl(41 79% 75%);
	--c-yellow4: hsl(41 79% 65%);
	--c-yellow5: hsl(41 79% 55%);
	--c-yellow6: hsl(41 79% 45%);
	--c-yellow7: hsl(41 79% 35%);
	--c-yellow8: hsl(41 79% 25%);
	--c-yellow9: hsl(41 79% 15%);

	--font: system-ui, sans-serif;
	/* --font-titles: Epilogue, Director, Abordage, sans-serif; */

	--s-font: 16px;
	--s: 1.5rem;
	--s-radius: 4px;
	--s-line-height: var(--s);
	/* hmm */
	/* background-image: linear-gradient(hsla(0, 0%, 60%, 0.1) 0.15%, transparent 5%); */
	/* background-size: 100% var(--s); */
}

body {
	margin: 0;
}

r4-app[color-scheme='light'] {
	--c-bg: var(--c-gray1);
	--c-bg2: var(--c-gray2);
	--c-bg3: var(--c-gray3);

	--c-fg: var(--c-gray9);
	--c-link: var(--c-blue6);
	--c-border: var(--c-gray3);
	/* --c-bg: var(--c-gray6); */
	/* --c-bg2: hsl(0deg 0% 9%); */
	/* --c-fg: var(--c-gray1); */
	--c-headlines: var(--c-red6);
	/* --c-border: var(--c-gray5); */
}

r4-app[color-scheme='dark'] {
	--c-bg: var(--c-gray9);
	--c-bg2: var(--c-gray8);
	--c-bg3: var(--c-gray7);
	--c-fg: var(--c-gray1);
	--c-link: var(--c-blue4);
	--c-border: var(--c-gray7);
	--c-headlines: var(--c-red5);
}

r4-app {
	font-family: var(--font);
	line-height: 1.5;
	overflow-y: auto;
	margin: 1rem;
	border: 4px solid var(--c-link);
	max-height: 100vh;
}

r4-app h1,
r4-app h2,
r4-app h3 {
	font-family: var(--font-titles), var(--font);
}
r4-app h1 {
	font-size: 2rem;
	margin: var(--s) 0 calc(var(--s) / 1);
	color: var(--c-headlines);
}
r4-app h2 {
	font-size: 1.5rem;
	margin: var(--s) 0 calc(var(--s) / 2);
}
r4-app h3 {
	font-size: 1rem;
}

/* Clickable things */
r4-app a,
r4-app button:not(:disabled),
r4-app input[type='checkbox'],
r4-app select {
	cursor: pointer;
}

/* Buttons and text inputs */
r4-app button,
r4-app select,
r4-app input[type='text'],
r4-app input[type='number'],
r4-app input[type='email'],
r4-app input[type='password'],
r4-app input[type='search'],
r4-app input[type='url'],
r4-app textarea {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	flex-shrink: 0;
	font-size: inherit;
	user-select: none;
	position: relative;
	vertical-align: top;
	line-height: 1;
	min-width: 2rem;
	height: 1.5em;
	padding: 0 0.3rem;
	background-color: var(--c-bg);
	border: 1px solid var(--c-border);
	border-radius: var(--s-radius);
}

r4-app input[type='text'],
r4-app input[type='number'],
r4-app input[type='email'],
r4-app input[type='password'],
r4-app input[type='search'],
r4-app input[type='url'],
r4-app textarea {
	/* background: var(--c-bg); */
}

r4-app input[type='text']:hover,
r4-app input[type='number']:hover,
r4-app input[type='email']:hover,
r4-app input[type='password']:hover,
r4-app input[type='search']:hover,
r4-app input[type='url']:hover,
r4-app textarea:hover {
	/* background-color: var(--c-bg2); */
}

r4-app textarea {
	height: calc(var(--s) * 3);
	padding-top: 0.5em;
}

r4-app input[type='number'] {
	min-width: 3rem;
	max-width: 7rem;
}

r4-app button {
	padding: 0 1rem;
}

/* "Buttons" */
r4-app select,
r4-app button {
	background: var(--c-bg2);
	border: 1px solid var(--c-gray7);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
r4-app button:not(disabled):hover,
r4-app select:not(disabled):hover {
	background: var(--c-bg3);
}
/* Primary buttons */
r4-app button[type='submit'] {
	background-color: var(--c-blue4);
	color: var(--c-blue9);
}
r4-app button[type='submit']:hover {
	background-color: var(--c-blue3);
}
/* Danger buttons */
r4-app button[destructive] {
	background: var(--c-red6);
	color: var(--c-red9);
}
r4-app button[destructive]:hover {
	background: var(--c-red5);
	color: var(--c-red9);
}

/* Forms */
r4-app form {
	/* display: flex; */
	/* flex-flow: column nowrap; */
	/* gap: var(--s); */
}
r4-app fieldset {
	/* display: flex; */
	/* flex-flow: column nowrap; */
	/* gap: 0.2rem; */
	/* padding: calc(var(--s) / 2); */
	padding: 0;
	border: 0;
}
r4-app fieldset[hidden] {
	display: none;
}
r4-app fieldset label {
	/* font-size: small; */
	font-weight: 600;
	flex-basis: 10rem;
	align-self: flex-start;
}
r4-app fieldset input:not([type='checkbox']),
r4-app fieldset textarea {
	flex: 1;
}
r4-app fieldset button[type='submit'] {
	margin-right: auto;
}

/* Horizontal query filters */
r4-supabase-filters form ul {
	list-style: none;
	padding: 0;
	/* padding: 0 0 0 calc(var(--s) / 2); */
}
r4-supabase-filters li > fieldset {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em;
}

r4-supabase-filters button[role='destructive'] {
	/* align-self: center; */
}
r4-supabase-modifiers {
	display: block;
	margin-top: var(--s);
}

r4-channel-description {
	display: block;
}

r4-layout {
	padding: 0 1rem 1rem;
}

r4-app [slot='menu'] {
	margin: var(--s) 0 0;
}

r4-avatar img {
	vertical-align: bottom;
	height: 3rem;
}

/* Tracks */
[list]:has(r4-track) {
	display: flex;
	flex-flow: column nowrap;
	gap: calc(var(--s) / 4);
}
r4-track a:has(r4-track-title) {
	text-decoration: none;
}
/* Tracks lists */
[list] > li {
	display: flex;
}
[list] r4-track {
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
}
[list] r4-button-play {
	font-size: smaller;
}
r4-app [list] > li:nth-child(even) {
	background-color: var(--c-gray2);
}
r4-app[color-scheme="dark"] [list] > li:nth-child(even) {
	background-color: var(--c-gray8);
}
r4-button-play + r4-track {
	margin-left: 0.5rem;
}
r4-track[playing] a:has(r4-track-title) {
	background: var(--c-link);
	color: var(--c-gray1);
}
[list] r4-track-tags {
	margin-left: auto;
}
[list] r4-track-actions { }

/* Cards */
[list]:has(r4-channel-card) {
	display: flex;
	flex-flow: row wrap;
	/* gap: calc(var(--s) / 2); */
	gap: 2px;
}

r4-channel-card {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 0.5rem;
	max-width: 300px;
	padding: 0.5em;
	background: var(--c-bg2);
	border-radius: var(--s-radius);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
	border: 1px solid rgb(239, 241, 244);
	min-height: calc(var(--s) * 2);
}
[color-scheme='dark'] r4-channel-card {
	border: 1px solid rgb(50, 51, 70);
}
r4-channel-card > a {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
r4-channel-card r4-slug {
	display: none;
}

r4-description {
	font-size: small;
}

r4-app nav {
	margin-bottom: var(--s);
}

/* Tags and mentions aka labels */
r4-app a[label] {
	background: var(--c-green3);
	color: var(--c-green9);
	padding: 0 4px;
	border-radius: calc(var(--s-radius) * 2);
	text-decoration: none;
	font-size: 14px;
}
r4-app[color-scheme='dark'] a[label] {
	background: var(--c-green9);
	color: var(--c-green3);
}
r4-app a[label] + a[label] {
	margin-left: 2px;
}

/* Lists */
r4-app ul[list] {
	list-style: none;
	padding: 0;
}

r4-app menu {
	display: flex;
	flex-flow: row wrap;
	gap: 0 calc(var(--s) / 2);
	list-style: none;
}

r4-color-scheme {
	display: inline-flex;
	flex-flow: row wrap;
}
r4-color-scheme button {
	/* equal width */
	flex: 1;
}

/* Channel page */
r4-page-channel h1 {
	margin-bottom: 0;
}
r4-page-channel menu {
	margin: var(--s) 0;
}
r4-page-channel menu nav-item {
	display: flex;
	font-size: 1.5rem;
}

r4-page-channel r4-avatar img {
	height: calc(var(--s) * 8);
}
r4-page-channel > footer {
	margin-top: var(--s);
}

/* Explore page */
r4-page-explore > main,
r4-page-channel-tracks > main {
	margin-top: var(--s);
	display: flex;
	flex-flow: column nowrap;
	gap: var(--s);
}
r4-page-explore r4-supabase-query,
r4-page-channel-tracks r4-supabase-query {
	display: block;
}

r4-app details summary {
	user-select: none;
}

r4-app radio4000-player .Layout-footer .PlayerControl-group button {
	height: 100%;
}

[page] > header {
	margin-top: calc(var(--s) * 2);
}

/* 6.4rem height to hide video completely */
/* 19rem height to show youtube controls */
/* 22rem width to show vol and time ui */

r4-layout[ui-state='minimize']::part(playback),
r4-layout[ui-state='dock']::part(playback) {
	order: 2;
	top: auto;
	bottom: 0;
}

r4-layout[ui-state='dock']::part(playback) {}
r4-layout[ui-state='dock'] radio4000-player {
	/* default no track list */
	/* super small, no video */
	min-height: auto;
	max-height: 6.4rem;
}

r4-layout[ui-state='minimize']::part(playback) {}
r4-layout[ui-state='minimize'] radio4000-player {
	/* big enough to show some video */
	max-height: 19rem;
}

r4-channel-cover {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 1rem;
}
