/*
	A minimal default theme, with mostly:
	- required defaults to make the work (though it should without CSS)
*/

/* these imports are to make the player layout & map work */
@import url('components/r4-layout.css');
@import url('components/r4-map.css');

/* these changes are "user personalisation" for color themes */
r4-app {
	/* sizes */
	--s-font: 18px;
	--s: 0.5rem;
	--s-line-height: 1;
	--s-youtube: 16rem;

	/* reference functional variables using the colors */
	--c-fg: inherit;
	--c-bg: inherit;
	--c-link: blue;

	/* colors */
	--c-light: white;
	--c-dark: black;
	--c-light--accent: green;
	--c-dark--accent: orange;
}

r4-app[color-scheme='dark'] {
	--c-bg: var(--c-dark);
	--c-fg: var(--c-light);
	--c-link: var(--c-dark--accent);
	color-scheme: dark;
}

r4-app[color-scheme='light'] {
	--c-bg: var(--c-light);
	--c-fg: var(--c-dark);
	--c-link: var(--c-light--accent);
	color-scheme: light;
}

/* and the customization using the variables */
r4-app {
	display: flex;
	flex-direction: column;
	background-color: var(--c-bg);
	color: var(--c-fg);
	font-size: var(--s-font);
	font-family: var(--font);
	line-height: var(--s-line-height);
}

/* Defaults */
r4-app,
r4-app * {
	box-sizing: border-box;
}
r4-app ul,
r4-app ol {
	margin: 0;
	padding: calc(var(--s) * 2);
}
r4-app ul li,
r4-app ol li {
	margin-bottom: var(--s);
}
r4-app menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
}
r4-app menu a {
	display: inline-flex;
	padding: var(--s);
}
r4-app table {
	width: 100%;
	border-collapse: collapse;
}
r4-app th {
	text-align: left;
}
r4-app img {
	width: auto;
	display: inline-block;
}
r4-app a {
	color: var(--c-link);
	text-decoration: none;
}
r4-app h1,
r4-app h2,
r4-app h3,
r4-app p {
	margin-top: 0;
	margin-bottom: calc(var(--s) * 2);
}
r4-app section {
	margin-bottom: calc(var(--s) * 3);
}
r4-app form {
	padding: var(--s);
}
/* Ensure the font is the same */
r4-app button,
r4-app input,
r4-app optgroup,
r4-app select,
r4-app textarea,
r4-app r4-layout::part(controls-button) {
	font-family: inherit;
}
r4-app button,
r4-app select,
r4-app input,
r4-app textarea,
r4-app r4-layout::part(controls-button) {
	padding: calc(var(--s) / 2);
	font-size: 1rem;
}
r4-app input,
r4-app textarea {
	width: 100%;
}
r4-app fieldset {
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
}
r4-app fieldset + fieldset {
	margin-top: var(--s);
}
r4-app fieldset legend,
r4-app fieldset label,
r4-app summary {
	padding: var(--s);
	font-style: italic;
}
r4-app summary,
r4-app button,
r4-app r4-layout::part(controls-button) {
	cursor: pointer;
}

/*
	can start targetting "more specific customization"
*/

/* make the panel min height, the viewport, so "route change" don't make the UI jump */
r4-app r4-layout::part(panel) {
	/* min-height: 100vh; */
}
r4-layout [slot='menu'] {
}
r4-layout [slot='main'] {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}
r4-router {
	flex-grow: 1;
	display: flex;
}
/* all r4-pages-* are the only children of r4-router */
r4-router > * {
	flex-grow: 1;
}
/* give a bit of padding to pages, that are not the "fullscreen" pages */
r4-router > *:not(r4-page-map) {
	padding: var(--s);
}
/* Routes are only used as data, and DOM wrapper to hide them */
r4-routes,
r4-route {
	display: none;
}

/* the map full height */
r4-map,
r4-map main,
r4-map .ol-viewport {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* Hide table+select from /explore and tracks pages */
r4-page-explore r4-supabase-select,
r4-page-channel-tracks r4-supabase-select {
	display: none;
}

/* Quick dark-mode for the player */
[color-scheme='dark'] radio4000-player,
r4-app[color-scheme] radio4000-player .Header,
radio4000-player .PlayerControl-group .Btn {
	background: var(--c-bg);
	color: var(--c-fg);
}
[color-scheme='dark'] radio4000-player .Layout .Header,
[color-scheme='dark'] radio4000-player .Layout .PlayerControl,
[color-scheme='dark'] radio4000-player .Layout .PlayerControl .Btn {
	background: transparent;
}
[color-scheme='dark'] radio4000-player .Layout .TrackItem {
	color: inherit;
}
[color-scheme='dark'] radio4000-player .Layout .Tracklist-item {
	border: 0;
}

[color-scheme='dark'] radio4000-player .PlayPause-controller::after,
[color-scheme='dark'] radio4000-player .PlayPause-controller::before {
	border-color: var(--c-link);
}

/* other specific components */
r4-supabase-modifiers form {
	display: flex;
	flex-wrap: wrap;
}

r4-app r4-avatar {
	max-width: calc(var(--s) * 20);
}
r4-channel-card,
r4-channel-card a,
r4-track {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

r4-list {
	display: flex;
	flex-direction: column;
}
r4-list-item {
	display: flex;
	flex-direction: row;
}
r4-list-item + r4-list-item {
	margin-top: var(--s);
}
