/* The default theme for R4 and components */

/* Shared between light and dark color schemes */
r4-app {
	--font-family: system-ui, sans-serif;
	--color-light: hsl(0deg 0% 98%);
	--color-lightgray: hsl(0deg 0% 80%);
	--color-darkgray: hsl(0deg 0% 15%);
	--color-dark: hsl(0deg 0% 10%);
}

/* light is default */
r4-app {
	--color-background: var(--color-light);
	--color-card-background: var(--color-lightgray);
	--color-input-background: hsl(0 0% 93%);
	--color-button-background: hsl(0 0% 93%);
	--color-text: hsl(0 0% 10%);
	--color-link: hsl(260 80% 50%);
	--color-border: hsla(0 10% 50% / 0.5);
}

@media (prefers-color-scheme: dark) {
	r4-app {
		--color-background: var(--color-dark);
		--color-card-background: var(--color-darkgray);
		--color-input-background: var(--color-darkgray);
		--color-button-background: var(--color-darkgray);
		--color-border: hsl(0 0% 5%);
		--color-text: hsl(0 0% 90%);
		--color-link: hsl(260 80% 90%);
	}
}

/* For account settings to overwrite system settings we need to duplicate the variables here */
[data-color-scheme='light'] r4-app {
	--color-background: var(--color-light);
	--color-card-background: var(--color-lightgray);
	--color-input-background: hsl(0 0% 93%);
	--color-button-background: hsl(0 0% 93%);
	--color-text: hsl(0 0% 10%);
	--color-link: hsl(260 80% 50%);
	--color-border: hsla(0 10% 50% / 0.5);
}
/* and here */
[data-color-scheme='dark'] r4-app {
	--color-background: hsl(0 0% 10%);
	--color-card-background: var(--color-darkgray);
	--color-input-background: var(--color-darkgray);
	--color-button-background: var(--color-darkgray);
	--color-border: hsl(0 0% 5%);
	--color-text: hsl(0 0% 90%);
	--color-link: hsl(260 80% 90%);
}

r4-app label {
	font-size: smaller;
	font-weight: bold;
}
