/*
	components global variables;
	available globally (root), and to the component's shadow doms (:host)
*/

/*
	Default values
*/
:root,
:host {
	/* a default size to use (with calc()) for "homogenous visual spacing" */
	--size: 1.5rem;
	--size-container: 50em;
	--breakpoint: 700px;

	/* typography */
	--font-size: 16px;
	--font-family: serif;

	/* colors */
	--color-light: hsl(0deg 0% 98%);
	--color-lightgray: hsl(0deg 0% 80%);
	--color-darkgray: hsl(0deg 0% 20%);
	--color-dark: hsl(0deg 0% 2%);
	--color-border: hsla(0 10% 50% / 0.5);

	/* Available abstractions. Use these to create themes. */
	/* --color-link: red; */
	/* --color-app-background: var(--color-background); */
	/* --color-card-background: var(--color-background); */

	/* --color-input-background: var(--color-background); */
	/* --color-input-text: var(--color-text); */
	/* --color-input-border: green; */

	/* --color-button-background: var(--color-link); */
	/* --color-button-text: var(--color-background); */
	/* --color-button-border: var(--color-border); */
}

